<h1>Game Page</h1>

@if (game(); as game) {

  <h1>{{ game.bookId }}</h1>

  <button
    mat-raised-button
    color="primary"
    (click)="saveGame()">
    Save Progress
  </button>

  <p>Health: {{ game.health }}</p>

  <p>{{ game.section.text }}</p>

  <h3>Options</h3>

  @for (option of game.section.options;
    track option.index;
    let optionNumber = $index) {
    <mat-card
      class="option-card"
      (click)="makeChoice(option.index)"
    >
      <mat-card-content>
        <div>
          {{ optionNumber + 1 }} - {{ option.description }}
        </div>
        @if (option.consequence) {
          <div class="consequence">
            @if (option.consequence?.type === 'LOSE_HEALTH') {
              ❤️ -{{ option.consequence?.value }}
            }

            @if (option.consequence?.type === 'GAIN_HEALTH') {
              ❤️ +{{ option.consequence?.value }}
            }
            <div>
              {{ option.consequence.text }}
            </div>
          </div>
        }
      </mat-card-content>
    </mat-card>
  }

}


